.container {
  display: inline-flex;
  width: 75%;
}

.varItems {
  display: inline-flex;
  flex-wrap: nowrap;
}

input[name="predecessor"] {
  order: 0;
  width: 0.7em;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
