body {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.canvas-container {
  display: flex;
  width: 75vh;
  flex-direction: column;
}

.varItems {
  display: inline-flex;
  flex-wrap: nowrap;
}

.controls-container {
}

.container-container {
  display: flex;
}

input[name="predecessor"] {
  order: 0;
  width: 0.7em;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.documentation {
  max-width: 80ch;
  padding: 0.69em;
  margin: auto;
}
