body {
  display: flex;
}

#root {
  position: relative;
}

.canvas-container {
  flex-shrink: 0;
  top: 0;
  position: sticky;
  flex-direction: column;
}

.varItems {
  display: inline-flex;
  flex-wrap: nowrap;
}

.controls-container {
}

.container-container {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .container-container {
    flex-direction: column;
  }
  .canvas-container {
    position: relative;
  }
}

input[name="predecessor"] {
  order: 0;
  width: 0.7em;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.documentation {
  max-width: 80ch;
  padding: 0.69em;
  margin: auto;
}
