#coords {
  position: fixed !important;
  top: 17px;
  right: 10px;
  display: none;
}
#message {
  position: fixed !important;
  top: 34px;
  right: 10px;
}
#canvas {
  width: 256;
  height: 128;
  border: dashed;
  border-width: 4px;
}
#container {
  display: flex;
  gap: 10px;
}
